*.log
.DS_Store
Thumbs.db

/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed

.env
.env.backup
.env.production
.env.local
.env.*.local

.phpactor.json
.phpunit.result.cache
.php-cs-fixer.cache
.phpcs-cache
_ide_helper.php
.phpstorm.meta.php

Homestead.json
Homestead.yaml
auth.json

/node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

/public/build
/public/hot
/public/storage

/storage/*.key
/storage/pail

/vendor

/coverage
.clover
